
<ion-grid>
  <ion-row class="ion-margin">
    <ion-col size="1">
      <span class="slider-nav arrow-prev" (click)="slidePrev(slider,slideWithNav)">
        <div class="prev-icon-custom custon-nav" [class.disabled]="slider.isBeginningSlide"></div>
      </span>
    </ion-col>
    <ion-col size="10">

      <ion-slides pager="true" [options]="slideOpts" #slideWithNav
        (ionSlideDidChange)="SlideDidChange(slider,slideWithNav)">
        <ion-slide *ngFor="let s of slider.slidesItems">
          <img [src]="s.src">
        </ion-slide>
      </ion-slides>

    </ion-col>
    <ion-col size="1">
      <span class="slider-nav arrow-next" (click)="slideNext(slider,slideWithNav)">
        <div class="next-icon-custom custon-nav" [class.disabled]="slider.isEndSlide"></div>
      </span>
    </ion-col>
  </ion-row>
</ion-grid>