ion-content {
    --background: linear-gradient(90deg, rgba(77,153,233,1) 0%, rgba(184,237,242,1) 50%, rgba(184,237,242,1) 100%);
}
.form{ 
    display: flex;
    flex-direction: column;
    height: 500px; 
    width: 375px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #e2e2e2;
    border-radius: 10px;    
    padding: 25px 25px;  
}
mat-form-field {
    width: 100%;
}
.btnSubmit {
    margin-top: 60px;
}
.bottom {
    width: 100%;
    position: absolute;
    // margin-top: 25px;
    bottom: 0;
}
h1 {
    margin: 0;    
    margin-bottom: 15px;
    text-align: center;
}
input::placeholder {
    font-size: 10px;
}