<ion-content>
  <div class="containerAbout">
    <div class="image">
      <ion-img src="assets/fotos/IMG_20200411_162411_631.jpg"></ion-img>
    </div>
    <div class="text">
      <h3>
        Acerca de Tienda Maylu
      </h3>
      <p>
        Tienda Maylu es un emprendimiento que lleva más de 5 años de trayectoria dedicado a la creación de todo tipo de productos realizados en crochet. Contamos con un amplio catálogo de manualidades que van desde adornos, juguetes, mantas, frazadas y todo tipo diseños que pudieran llegar a imaginar. Ponemos el mayor esfuerzo y dedicación en cada uno de nuestros productos para satisfacer cada una de las necesidades de nuestros clientes. Gracias por permitirnos ser parte de tu vida!
      </p>
    </div>

  </div>

  <div class="bottom">
    <app-footer-page></app-footer-page>
  </div>
</ion-content>